 <!-- Start Footer -->
<footer>
    <div class="footer-section bg-footer">
        <div class="container text-white">
            <div class="row justify-content-between pb-3">
                <div class="col-lg-3">
                    <h3 class="fw-600 col-header">نام برند</h3>
                    <p class="fw-600">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
                        در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                        نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد،
                    </p>
                    <div class="row">
                        <div class="col-3 px-1 icon-circle">
                            <i class="bi bi-youtube footer-icon"></i>
                        </div>
                        <div class="col-3 px-1 icon-circle">
                            <i class="bi bi-instagram footer-icon"></i>
                        </div>
                        <div class="col-3 px-1 icon-circle">
                            <i class="bi bi-twitter footer-icon"></i>
                        </div>
                        <div class="col-3 px-1 icon-circle">
                            <i class="bi bi-discord footer-icon"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 text-center footer-col">
                    <h3 class="fw-600 col-header">ستون اول</h3>
                    <ul class="footer-row">
                        <li><a href="#">ردیف اول</a></li>
                        <li><a href="#">ردیف دوم</a></li>
                        <li><a href="#">ردیف سوم</a></li>
                        <li><a href="#">ردیف چهارم</a></li>
                        <li><a href="#">ردیف پنجم</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 text-center footer-col">
                    <h3 class="fw-600 col-header">ستون دوم</h3>
                    <ul class="footer-row">
                        <li><a href="#">ردیف اول</a></li>
                        <li><a href="#">ردیف دوم</a></li>
                        <li><a href="#">ردیف سوم</a></li>
                        <li><a href="#">ردیف چهارم</a></li>
                        <li><a href="#">ردیف پنجم</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-8 text-center mx-auto footer-news">
                    <h3 class="fw-600 col-header">عضویت در خبرنامه</h3>
                    <p class="fw-600 pb-2">
                        جدیدترین اخبار رسانه ما را از اینجا دنبال کنید
                    </p>
                    <form action="#">
                        <input type="text" class="form-control news-input" placeholder="ایمیل خود را وارد کنید" />
                        <button class="btn w-100 btn-success">عضویت در خبرنامه</button>
                    </form>
                </div>
            </div>
            <div class="row text-center fw-600 copy-right">
                <p>
                    Copyright © 1401-1402. طراحی و توسعه قالب متعلق به
                    <a href="" class="px-2">علی خاکباز</a> میباشد
                </p>
            </div>
        </div>
    </div>
</footer>
<!--End Start Footer -->