

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="AdminDashboard">
                    >
                    <span data-feather="home" class="align-text-bottom"></span>
                    خانه
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="MiniBaners" asp-action="ListOfBaners">
                    <span data-feather="grid" class="align-text-bottom"></span>
                    بنرها
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area="Admin" asp-controller="Product" asp-action="ShowAllHotels">
                    <span data-feather="square" class="align-text-bottom"></span>
                    هتل
                </a>
            </li>
        </ul>
    </div>
</nav>