@model AddAdvantageRoomVM
@{
    ViewData["Title"] = "InsertAdvantageToRoom";
}

<h2 class="py-3">مدیریت ویژگی ها</h2>
<div class="row">
    <div class="col-12">
        <div class="mt-5 mb-3">
            <form asp-action="InsertAdvantageToRoom" method="post">
                <input type="hidden" asp-for="RoomId" />
                <div class="row container">
                    @foreach (var item in Model.advantageRooms)
                    {

                        <div class="form-check col-3">
                            <input class="form-check-input" type="checkbox" value="@item.Id" name="AdvantagesId"
                                   @(Model.AdvantageId.Any(x=>x== item.Id)? "checked":"")>
                            <label class="form-check-label">
                                @item.Name
                            </label>
                        </div>

                    }
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success"> ثبت ویژگی </button>
                </div>
            </form>

        </div>
    </div>
</div>



