@model CrudforAdvantageVM
@{
    ViewData["Title"] = "CreateAdvantage";
}

<div class="container">
    <h2 class="py-3"> افزودن ویژگی</h2>
    <form asp-action="AddAdvantage" method="post">
        <div class="row ">
            <div class="mb-3 col-6">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-success"> افزودن ویژگی </button>
            </div>
        </div>
    </form>

</div>

