
@model ReserveDateVM
@{
    ViewData["Title"] = "InsertReserveDateToRoom";
}

<h2 class="py-3">افزودن تاریخ</h2>
<div class="row">
    <div class="col-12">
        <div class="mt-5 mb-3">
            <form asp-action="AddReserveDateToRoom" method="post">
                <input type="hidden" asp-for="RoomId" />
                <div class="row container">
                    @foreach (var item in Model.reserveDate)
                    {
                        <div class="form-check col-2">
                            <input name="reserveDates" class="form-check-input" type="checkbox" value="@item">
                            <label class="form-check-label">
                                @PersianDate.ToShamsiDate(item)
                            </label>
                        </div>
                    }
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success"> ثبت تاریخ </button>
                </div>
            </form>

        </div>
    </div>
</div>

