@model AddandDeleteImageVM
@{
    ViewData["Title"] = "RemoveHotelImage";
}

<div class="container">
    <div class="row justify-content-center pt-5">
        <img class="img-thumbnail Remove-gallery-img" src="/asset/img/HotelImages/@Model.ImageName" />
        <div class="mt-3 mb-5 text-center">
            <p class="fs-5 text-danger">آیا از حذف تصویر اطمینان دارید؟</p>
            <a class="btn btn-sm btn-outline-danger" asp-action="DeleteImagefromgallery" asp-route-Id="@Model.Id">حذف تصویر</a>
        </div>
    </div>
</div>

