
      
        
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">داشبورد ادمین</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            اعلان ها
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            هتل ها
                        </button>
                    </div>
                </div>
            </div>

            <canvas class="my-4 w-100"
                    id="myChart"
                    width="900"
                    height="380"></canvas>

            <h2>عنوان بخش</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام</th>
                            <th scope="col">نام خانوادگی</th>
                            <th scope="col">شماره تماس</th>
                            <th scope="col">میزان خرید</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>میلاد</td>
                            <td>شکوهی</td>
                            <td>09120001212</td>
                            <td>120,000,000</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>ایمان</td>
                            <td>روحی</td>
                            <td>09120001313</td>
                            <td>150,000,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
       
  